// Specific CSS for your home-page
.banner {
  padding: 0;
  background-size: cover !important;
  height: 100vh;
  h2 {
  	color: $white;
  }
}

.freeflix-logo {
  padding-top: 200px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.snarly {
  height: 100%;
  position: fixed;
  left: 1500px;
  top: 700px;
}
