// Specific CSS for your home-page
.banner {
  padding: 0;
  background-size: cover !important;
  height: 100vh;
  h2 {
  	color: $white;
  	text-shadow: 2px 2px black;
  }
}

.freeflix-logo {
  padding-top: 200px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.snarly {
  height: 100%;
  position: fixed;
  left: 1500px;
  top: 700px;
}

.search-bar {
  display: inline-block;
}

.btn-search {
  background-color: $maroon;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 30px;
  width: 190px;
  color: $white;
  &:hover {
    background-color: $dark-maroon;
    color: $white;
  }
}


