<% @movies.each do |movie| %>
  <div class="boxx" style="position: relative; display:flex-center;">
      <div class="col-xs-12 col-sm-4">
        <%= link_to movie_path(movie) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= movie.picture_url %>);">
        </div>
        <div class="card-footer text-center">
          <h3><%= movie.title %></h3>
          <h3><%= movie.length %></h3>
        </div>
        <% end %>
    </div>
     <% end %>
  </div>

