<div class="boxx" style="position: relative; display:flex-center;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dgtihmi68/image/upload/v1504902326/nosferatu_uijai1.jpg');">
        <div class="card-category"></div>
          <div class="card-description">
          </div>
      </div>
      <div class="card-footer">
        <h3>Placeholder</h3>
        <h3>Placeholder</h3>
      </div>
  </div>
</div>

