<div class="boxx" style="position: relative; display:flex-center;">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">Placeholder</div>
          <div class="card-description">
            <h2>Placeholder</h2>
            <p>Placeholder</p>
          </div>
    </div>
    <div class="card-footer">
          <h3>Placeholder</h3>
          <h3>Placeholder</h3>
        </div>
  </div>
</div>

