.banner {
  height: 180vh;
  background-size: cover;
  position: relative;
  background-position: center;
}

.movie-show {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding-top: 15%;
  margin-bottom: 5%;
}

.movie-show h2 {
  font-family: 'Parisienne', cursive;
  text-shadow: 0px 1px rgba(0,0,0,0.2);
  text-align: center;
  color: black;
}
